
.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}
.skill{
    height: 15rem;
    /* width: 20rem; */
    /* border: 2px solid red; */
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 173, 199);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    animation: ChangeCard 20s linear infinite;
     animation: boucing 1s linear infinite;
  }
@keyframes ChangeCard {
    0%{
        background-color: rgb(90, 173, 199);;
    }
    25%{
        background-color: rgb(90, 199, 95);;
    }
    50%{
        background-color: rgb(11, 188, 241);;
    }
    75%{
        background-color: rgb(199, 90, 114);;
    }
   100%{
        background-color: rgb(90, 199, 99);;
    }
}

/* @keyframes boucing {
  0%{
    transform: translate(0);
  }
  50%{
    transform: translate(-150px);
  }
  100%{
    transform: translate(0);
  }
 
} */

.skill:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  .image{
    height: 5rem;
    width: 5rem;
  }
  li{
    list-style: none;
  }
  /* @media (prefers-reduced-motion: no-preference) {
    .image {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */